name: Lint GitHub Actions workflows
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]
permissions: {}
jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
        with:
          persist-credentials: false
      - name: Check workflow files
        uses: docker://index.docker.io/rhysd/actionlint@sha256:887a259a5a534f3c4f36cb02dca341673c6089431057242cdc931e9f133147e9 # ratchet:docker://rhysd/actionlint:latest
        with:
          args: -color
